{* News-Anzeige ohne Comments *}
{* falls keine news Angezeigt wird, bleibt diese Variable auf 1 *}
{assign var="empty" value="1"}
{foreach key=key item=val from=$data name=news}
  {if $val.hidden == 0}
    {include file="file:news_post.tpl" time=$val.time title=$val.title content=$val.content contentID=$val.contentID 
                                       helperstring=$val.helperstring authorID=$val.authorID authorName=$val.authorName fileaname=$filename posts=$val.posts short=0 showLink=1 showBar=1}  
    {assign var="empty" value="0"}                                       
  {/if}
{/foreach}

{* Seitenauswahl *}
{if isset($pages)}
  <div align="right">
  {if $currentPage != 1}<a href="{$filename}&page_forum={$currentPage-1}"><< zurück</a>{/if}
  {if $currentPage != 1 && $currentPage != $pageCount} | {/if}
  {if $currentPage != $pageCount}<a href="{$filename}&page_forum={$currentPage+1}">vor >></a>{/if}
  </div>
{/if}

{if $empty == 1}
  <p align="center">In dieser Kategorie gibt es noch keine News!</p>  
{/if}